@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input[type="text"], button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

button:focus {
  outline: 0
}

button:hover {
  cursor: pointer
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: #f0f0f0
}

.txtRed {
  color: #d00000
}

ul.error {
  margin: 5px 10px;
  padding: 10px;
  background-color: #ffe8e8;
  border: 3px solid #d00000;
  color: #c00000;
  font-weight: bold;
  display: none
}

ul.error li {
  margin-bottom: 10px
}

ul.error li:last-child {
  margin-bottom: 0
}

a.wait {
  pointer-events: none;
  opacity: .7;
  cursor: wait
}

a.disabled {
  pointer-events: none;
  opacity: .7;
  cursor: not-allowed
}

.loginTitle {
  text-align: center
}

.loginTitle img {
  width: 40vw;
  margin: 5px auto 0
}

.loginTitle img:first-child {
  width: 75vw;
  margin: 20px auto 0
}

.loginForm {
  width: 80vw;
  margin: 0 auto;
  padding: 10px 0 0
}

.loginForm li {
  padding: 10px 0 0
}

.loginForm input[type="text"], .loginForm input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  border: 2px solid #606060;
  border-radius: .5rem;
  outline: 0
}

.btLogin {
  display: block;
  margin: 10px 0 0;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.btRegistUsr {
  display: block;
  margin: 20px auto 0;
  width: 53vw;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #20a830;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(24, 126, 36, 1)
}

.introTxt {
  padding: 20px 0 0;
  line-height: 1.3em
}

.listTxt {
  padding: 20px 0 0;
  line-height: 1.3em;
  text-align: left
}

.terms {
  overflow: auto;
  margin: 20px 0 0;
  padding: 0 .5rem .5rem;
  font-size: .8rem;
  line-height: 1.3rem;
  background-color: #fff;
  border: 2px solid #0065b1
}

.terms h3, .terms p, .terms ul {
  margin: .8rem 0 0
}

.terms ul {
  list-style: disc outside;
  padding-left: 1.2rem
}

.startUp {
  width: 80vw;
  margin: 0 auto;
  padding: 10px 0 0
}

.startUp li {
  padding: 10px 0 0
}

/*
.startUp input[type="text"], .startUp input[type="password"], .startUp input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  border: 2px solid #606060;
  border-radius: .5rem;
  outline: 0
}

.startUp #marker {
  width: 20%;
  margin-left: 10px
}
*/

.startUp .notice {
  padding: 10px 0 0;
  font-size: .8rem;
  line-height: 1.3rem;
  text-align: right
}

.notice.left {
  text-align: left
}

.notice.narrow {
  padding: 0
}

.btSubmit {
  display: block;
  box-sizing: border-box;
  width: 80vw;
  margin: 20px auto 0;
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.btEdit {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  padding: .5rem .3rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1);
  white-space: nowrap;
  margin-left: 9px;
  padding-bottom: 5px;
  font-size: 11pt
}

.btDefault {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  padding: .8rem .3rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1);
  white-space: nowrap;
  margin-left: 9px;
  padding-bottom: 9px;
  font-size: 11pt
}

.drawer-navbar .drawer-navbar-header {
  height: 60px;
  padding: 0;
  background-color: #009a5a;
  border: 0
}

.drawer-navbar .alert_area {
  height: 60px;
  padding: 0;
  border: 0
}

.drawer-navbar .drawer-logo {
  position: fixed;
  top: 7px;
  left: 10px;
  width: 69px
}

.drawer-navbar .drawer-logo img {
  width: 50px
}

.drawer-navbar .drawer-brand {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
  text-decoration: none
}

.drawer-navbar .drawer-brand .orgName {
  font-size: 1.43rem;
  font-weight: bold;
  line-height: 2rem
}

.drawer-navbar .drawer-alert {
  position: fixed;
  top: 15px;
  left: 250px;
  width: 100px
}

.drawer-navbar .drawer-alert img {
  width: 30px
}

.drawer-hamburger {
  position: fixed;
  z-index: 104;
  top: 0;
  display: block;
  box-sizing: content-box;
  width: 35px;
  padding: 0;
  padding-top: 18px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 15px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent
}

.drawer-hamburger-icon, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  width: 100%;
  height: 2px;
  background-color: #fff
}

.drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  position: absolute;
  top: -12px;
  left: 0;
  content: ' '
}

.drawer-hamburger-icon:after {
  top: 12px
}

.drawer-navbar .drawer-nav {
  padding-top: 60px
}

.drawer-navbar .drawer-menu {
  padding-bottom: 60px
}

.drawer-nav {
  width: 50%;
  background-color: #0065b1
}

.drawer--right .drawer-nav {
  right: -50%;
  -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000)
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 50%
}

.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #0065b1
}

.drawer-menu-item {
  font-size: 1.2rem;
  display: block;
  padding: 2rem 1rem 0 1rem;
  text-decoration: none;
  color: #fff
}

.drawer-menu-item:hover {
  text-decoration: underline;
  color: #ff0;
  background-color: transparent
}

.drawer-navbar .drawer-alert {
  position: fixed;
  top: 11px;
  left: 230px;
  width: 100px
}

.drawer-navbar .drawer-alert img {
  width: 40px
}

main {
  position: relative;
  padding: 0 15px 20px
}

.drawer-navbar--fixed+main {
  padding-top: 60px
}

main h2 {
  padding: 20px 0;
  color: #0065b1;
  font-size: 1.5rem;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word
}

main h3 {
  padding: 20px 0;
  font-size: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word
}

.userlist {
  width: 86vw;
  margin: 0 auto;
  padding: 20px 0 0;
  display: block;
  text-align: center
}

.userlist-header {
  display: inline-block;
  width: 500px;
  margin-left: -50px;
  text-align: left
}

.userlist-list {
  display: inline-block;
  width: 400px;
  margin-left: -50px;
  text-align: left
}

.userlist-header li {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  text-align: center;
  margin-left: -3px
}

.userlist-header li>a {
  text-align: center;
  display: block;
  width: 80%;
  padding: 10px;
  white-space: nowrap
}

.userlist-list li {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  text-align: center
}

.userlist-list li>a {
  text-align: center;
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-word
}

.campaign-header li {
  display: inline-block;
  vertical-align: middle
}

.campaign-header li>a {
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px;
  white-space: nowrap
}

.campaign-list li {
  display: inline-block;
  vertical-align: middle
}

.campaign-list li>a {
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px
}

.campaign-list li>div {
  text-align: center;
  display: table;
  width: 100%;
  padding: 3px
}

.campaignForm {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center
}

.campaignForm li {
  padding: 10px 0 0
}

.campaignForm input[type="text"], .campaignForm input[type="tel"], .campaignForm input[type="number"] {
  border: 1px solid #606060;
  box-sizing: border-box;
  width: 19%;
  height: 2.5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  border: 1px solid #606060;
  border-radius: .5rem;
  outline: 0
}

.campaignForm .notice {
  padding: 10px 0 0;
  font-size: .8rem;
  line-height: 1.3rem;
  text-align: right
}

.campaignForm li>a {
  margin: 5px;
  padding: 5px
}

.confirmForm {
  width: 100%
}

.confirmForm .header {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding-bottom: 5px
}

.confirmForm .content {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-bottom: 5px;
  word-break: break-all
}

.confirmForm li>a {
  text-align: center;
  display: table;
  width: 100%;
  padding: 5px;
  white-space: nowrap
}

.pageVisual {
  padding: 0;
  text-align: center
}

.pageVisual img {
  width: 60vw
}

.info {
  padding: 20px 0 0
}

.info h3 {
  height: 2rem;
  padding-left: 2.5rem;
  color: #0065b1;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
  background: url(../img/ico_info.png) no-repeat 0 0;
  background-size: contain
}

.info .infoContent {
  overflow: auto;
  height: 4rem;
  margin: 1rem 0 0;
  padding-top: .5rem;
  background-color: #fff;
  border: 2px solid #0065b1
}

.info .infoContent p {
  padding: 0 .5rem .5rem;
  font-size: .8rem;
  line-height: 1.5rem
}

.dlCount {
  padding-left: .5rem;
  font-size: 1.2rem
}

.dlContent p {
  margin-bottom: 15px;
  margin-left: 30px
}

.btBox {
  width: 80vw;
  margin: 0 auto;
  padding: 20px 0 0
}

.campaignBox {
  margin: 0 auto;
  padding: 20px 0 0
}

.btAdd {
  display: block;
  padding: .75rem 1rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.btBack {
  display: block;
  padding: .75rem 1rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.searchContainer {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 20px auto;
  padding: 0;
  display: none
}

.searchContainer input[type="text"] {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  border: 2px solid #606060;
  border-radius: .5rem;
  outline: 0
}

.searchContainer input[type="submit"] {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  background: url(../img/ico_search.png) no-repeat 0 0;
  background-size: contain;
  border: 0;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
  outline: 0
}

.btListBox {
  overflow: auto;
  margin: 1rem 0 0;
  padding: 10px 0 20px;
  background-color: #fff;
  border: 2px solid #0065b1;
  display: none
}

.btList {
  display: block;
  box-sizing: border-box;
  width: 80vw;
  margin: 10px auto 0;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.btList span {
  display: block;
  margin: 0 0 10px
}

.btList .date {
  font-size: .8rem
}

.btList .progressBox {
  display: block;
  height: 10px;
  margin: 0;
  background-color: #f0f0f0;
  border-radius: 5px
}

.btList .progressBar {
  display: block;
  height: 10px;
  background-color: #55d156;
  border-radius: 5px
}

.btMore {
  display: block;
  box-sizing: border-box;
  width: 80vw;
  margin: 30px auto 0;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.engineList {
  width: 100%;
  display: block;
  font-size: 1.0rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: .5rem
}

.authorityList {
  width: 100%;
  display: block;
  font-size: 1.0rem;
  padding: 10px;
  border-radius: .5rem
}

.btTakePhoto, .btViewPhoto, .btRegistPhoto, .btBackPhoto, .btReadQr {
  display: block;
  margin-top: 10px;
  padding: .75rem 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #004497;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(0, 51, 113, 1)
}

.btTakePhoto, .btReadQr {
  font-weight: bold;
  background-color: #009A5A;
  box-shadow: 0 .25rem rgba(16, 98, 10, 1)
}

.qrdiv {
  margin-top: 20px;
}
/*
.btReadQr {
  padding: .3rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: .5rem;
  font-weight: bold;
  background-color: #009A5A;
  box-shadow: 0 .25rem rgba(16, 98, 10, 1)
}
*/
.btRegistPhoto {
  font-weight: bold;
  background-color: #20a830;
  box-shadow: 0 .25rem rgba(24, 126, 36, 1)
}

.thumbnailList {
  width: 100vw;
  padding: 0
}

.thumbnailList h2 {
  padding: 20px 15px
}

.thumbnailList>ul {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw
}

.thumbnailList>ul.thumbnails>li {
  box-sizing: border-box;
  width: 23vw;
  height: 25vw;
  margin: 0;
  padding: 0;
  border: 1px solid #f0f0f0;
  text-align: center
}

.thumbnailList img {
  width: 24.5vw;
  height: 24.5vw;
  vertical-align: middle;
  object-fit: contain;
  object-position: 50% 50%
}

/*郭
.thumbnailDetail {
*/
.output {
  width: 100%;
  text-align: center
}

/*郭
.thumbnailDetail img {
*/
.output img {
  vertical-align: middle;
  max-width: 100%;
  width: auto;
  max-height: 65vh;
  height: auto;
  object-fit: contain;
  object-position: 50% 50%
}

.bottomBt {
  display: table;
  width: 100%
}

.bottomBt>li {
  display: table-cell;
  box-sizing: border-box;
  width: 50%;
  padding: 20px 0 0 10px;
  vertical-align: middle
}

.bottomBt>li:first-child {
  padding: 20px 10px 0 0
}

.bottomBt a {
  display: block;
  padding: .75rem 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: #009A5A;
  border-radius: .5rem;
  box-shadow: 0 .25rem rgba(16, 98, 10, 1)
}

.bottomBt .btBack, .bottomBt .btCancel {
  padding: .875rem 1rem;
  font-size: 1.25rem;
  font-weight: normal
}

.status {
  display: table;
  width: 100%;
  margin: 0 auto
}

.status>li {
  display: table-cell
}

.status .icon {
  padding: 10px;
  color: #fff;
  background-color: #696969;
  white-space: nowrap
}

.status .date {
  box-sizing: border-box;
  width: 99%;
  padding-left: 20px
}

.status .icon.finished {
  background-color: #d02828
}

.date .date {
  box-sizing: border-box;
  width: 99%;
  padding-left: 20px;
  padding-top: 10px
}

.dlStatus {
  display: table;
  width: 100%;
  margin-top: 10px
}

.dlStatus>li {
  display: table-cell
}

.dlStatus .dlStatus {
  box-sizing: border-box;
  width: 99%;
  padding-left: 5px
}

.dlCode {
  display: table;
  width: 20%;
  margin-top: 10px
}

.dlCode>li {
  display: table-cell
}

.dlCode .dlCode {
  box-sizing: border-box;
  padding-left: 5px;
  white-space: normal
}

.dlCode .copy {
  box-sizing: border-box;
  width: 100%;
  padding-left: 5px
}

.timeLimit {
  display: table;
  width: 100%;
  margin-top: 10px
}

.timeLimit>li {
  display: table-cell
}

.timeLimit .timeLimit {
  box-sizing: border-box;
  width: 99%;
  padding-left: 5px
}

.caution {
  font-size: 14px;
  line-height: 1.5em
}

#V-NEW-2, #V-NEW-4 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*height: 95vh;*/
  top: 0;
  left: 0
}

#V-NEW-2 #video, #V-NEW-4 #videoQr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*height: 90%;*/
  top: 0;
  left: 0
}

#V-NEW-2 #canvas, #V-NEW-4 #canvasQr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*height: 90%;*/
  top: 0;
  left: 0
}

#V-NEW-2 #takePhoto {
  position: absolute;
  box-sizing: border-box;
  width: 20vw;
  height: 20vw;
  bottom: 20vw;
  /*bottom: 10%;*/
  left: 40vw;
  background-color: white;
  border: .53vw solid #000000;
  border-radius: 10vw;
  z-index: 99
}

#V-NEW-2 .assistWrapper {
  display: none;
  position: absolute;
  box-sizing: border-box;
  /*郭
  border: 1vw solid yellow;
   */
  border: 1vw dashed white;
  z-index: 98;
  pointer-events: none
}

#V-NEW-2 .assistWrapper[data-index="0"] {
  width: 70vw;
  height: 55vh;
  top: 0;
  left: 30vw
}

#V-NEW-2 .assistWrapper[data-index="1"] {
  width: 70vw;
  height: 55vh;
  top: 0;
  left: 15vw
}

#V-NEW-2 .assistWrapper[data-index="2"] {
  width: 70vw;
  height: 55vh;
  top: 0;
  left: 0
}

#V-NEW-2 .assistWrapper[data-index="3"] {
  width: 70vw;
  height: 55vh;
  top: 6vh;
  left: 0
}
/*
#V-NEW-2 .assistWrapper[data-index="4"] {
  width: 70vw;
  height: 55vh;
  top: 6vh;
  left: 15vw
}
*/
#V-NEW-2 .assistWrapper[data-index="4"] {
  width: 80vw;
  /*height: 50vh;
  top: 13vh;*/
  height: 20vh;
  top: 25vh;
  left: 10vw
}

#V-NEW-2 .assistWrapper[data-index="5"] {
  width: 70vw;
  height: 55vh;
  top: 6vh;
  left: 30vw
}

#V-NEW-2 .assistWrapper[data-index="6"] {
  width: 70vw;
  height: 55vh;
  top: 12vh;
  left: 30vw
}

#V-NEW-2 .assistWrapper[data-index="7"] {
  width: 70vw;
  height: 55vh;
  top: 12vh;
  left: 15vw
}

#V-NEW-2 .assistWrapper[data-index="8"] {
  width: 70vw;
  height: 55vh;
  top: 12vh;
  left: 0
}

#V-NEW-2 .assistWrapper[data-index="9"] {
  width: 70vw;
  height: 40vh;
  top: 5vh;
  left: 15vw
}

#V-NEW-2 .assistWrapper[data-index="10"] {
  width: 70vw;
  height: 40vh;
  top: 22vh;
  left: 15vw
}

#V-NEW-2 .assistWrapper span {
  position: absolute;
  color: yellow;
  z-index: 98;
  font-size: 8vw;
  pointer-events: none
}

#V-NEW-2 .results {
  position: absolute;
  width: 100vw;
  height: 20vw;
  bottom: 19.9vw;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 97
}

#V-NEW-2 .results>ul {
  overflow: hidden;
  height: 20vw
}

#V-NEW-2 .results>ul>li {
  position: relative;
  float: left;
  width: 16vw;
  height: 16vw;
  margin: 2vw 0 0 3.33vw;
  text-align: center;
  background-color: transparent
}

#V-NEW-2 .results>ul>li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 16vw;
  max-height: 16vw;
  vertical-align: middle
}

#V-NEW-2 .backGround :not(.assistWrapper){
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*height: 10%;*/
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: black;*/
  z-index: 98
}

#V-NEW-2 .bottomBt, #V-NEW-4 .bottomBt {
  position: absolute;
  width: 100vw;
  height: 20vw;
  /*height: 10%;*/
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: black;*/
  z-index: 98
}

#V-NEW-2 .bottomBt li, #V-NEW-3 .bottomBt li, #V-NEW-4 .bottomBt li {
  padding: 2.67vw
}

#processingModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(160, 160, 160, 0.8)
}

#processingModal>div {
  position: relative;
  top: 40%
}

#processingModal>div>p {
  margin-top: 20px
}

.jobMenu-wrapper {
  padding: 4vw 2.67vw 8vw
}

.jobMenu-caption {
  padding-bottom: 4vw;
  font-size: 1.2em;
  border-bottom: 2px solid #004497
}

.alert-red {
  background-color: #c00000;
  box-shadow: 0 .25rem #790000
}

@media(min-width:64em) {
  html {
    font-size: 16px
  }
  main a:hover, input[type="submit"]:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)"
  }
  .loginTitle {
    text-align: center
  }
  .loginTitle img {
    width: 200px;
    margin: 10px auto 0
  }
  .loginTitle img:first-child {
    width: 300px;
    margin: 30px auto 0
  }
  .loginForm {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0 0
  }
  .loginForm input[type="text"], .loginForm input[type="password"] {
    border: 1px solid #606060
  }
  .btRegistUsr {
    width: 30%
  }
  .terms {
    border: 1px solid #0065b1
  }
  .registForm {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0 0
  }
  .registForm input[type="text"], .registForm input[type="password"], .registForm input[type="number"] {
    border: 1px solid #606060
  }
  .btSubmit {
    width: 50%;
    font-size: 1.5rem
  }
  .registForm-1 .btSubmit {
    width: 100%
  }
  .btEdit {
    width: 6%
  }
  .btDefault {
    width: 25%
  }
  .dlCode .dlCode {
    white-space: nowrap
  }
  .dlCode .copy .btEdit {
    width: 100%
  }
  .campaign-list li>div {
    display: table;
    width: 50%;
    float: left;
    padding: 0
  }
  .userlist {
    width: 86vw;
    margin: 0 auto;
    padding: 20px 0 0;
    display: block;
    text-align: center
  }
  .userlist-header, .userlist-list {
    width: 100%;
    margin: 0 auto;
    text-align: center
  }
  .userlist-header li {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    text-align: center
  }
  .userlist-header li>a {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    white-space: nowrap
  }
  .userlist-list li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 250px;
    text-align: center
  }
  .userlist-list li>a {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px
  }
  .campaign-list .align-right {
    text-align: right
  }
  .campaign-list .align-left {
    text-align: left
  }
  .drawer-navbar {
    height: 60px;
    padding: 0;
    background-color: #009a5a;
    border: 0
  }
  .drawer-navbar .drawer-logo {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    /*
    width: 138px;
    padding: 0 0 0 30px;
    */
    vertical-align: top
  }
  .drawer-navbar .drawer-logo img {
    width: 50px;
    margin-top: 10px;
    vertical-align: top
  }
  .drawer-navbar .drawer-brand {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: 0;
    padding-left: 90px;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    text-align: left;
    vertical-align: top
  }
  .drawer-navbar .drawer-brand .orgName {
    font-size: 1.43rem;
    font-weight: bold;
    line-height: 2rem
  }
  .drawer-navbar .drawer-nav {
    padding-top: 0;
    padding-right: 30px
  }
  .drawer-navbar .drawer-menu {
    padding-bottom: 0
  }
  .drawer-nav {
    width: auto;
    background-color: #0065b1
  }
  .drawer-menu-item {
    font-size: 1rem;
    display: block;
    padding: 0 0 0 1rem;
    text-decoration: none;
    color: #fff
  }
  .drawer-navbar .drawer-alert {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    width: 50px;
    vertical-align: top;
    margin-top: 10px
  }
  .drawer-navbar .drawer-alert img {
    width: 35px;
    margin-top: 3px;
    vertical-align: top
  }
  main {
    padding: 0 30px
  }
  .pageVisual img {
    width: 375px
  }
  .info {
    padding: 20px 0 0
  }
  .info .infoContent {
    height: 6rem;
    border: 1px solid #0065b1
  }
  .btBox, .campaignBox {
    width: 80%;
    padding: 20px 0 0
  }
  .btAdd {
    font-size: 1.5rem
  }
  .searchContainer input[type="text"] {
    border: 1px solid #606060
  }
  .btListBox {
    border: 1px solid #0065b1
  }
  .btListBox>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left;
    width: 90%;
    margin: 0 auto;
    padding: 0
  }
  .btListBox>ul>li {
    -ms-flex-preferred-size: 30%;
    flex-basis: 18.6%;
    padding: 0 10px
  }
  listItem.empty {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0
  }
  .btList {
    width: 100%
  }
  .thumbnailList {
    width: 100%
  }
  .thumbnailList h2 {
    padding: 20px 30px
  }
  .thumbnailList>ul {
    width: 100%
  }
  .thumbnailList>ul>li {
    box-sizing: border-box;
    width: 20%;
    height: 20%
  }
  .thumbnailList img {
    width: 19.6vw;
    height: 19.6vw;
    font-family: 'object-fit: cover; object-position: 50% 50%;'
  }
  .bottomBt {
    display: table;
    width: 80%;
    margin: 0 auto
  }
  .jobMenu-wrapper {
    padding: 20px 20px 40px
  }
  .jobMenu-caption {
    padding-bottom: 20px
  }
  .status, dlStatus, dlCode, timeLimit {
    margin-top: 20px
  }
  .jobMenu-list {
    margin-top: 20px
  }
}

@media(min-width:64em) {
  .drawer-container {
    max-width: 100%
  }
}

@media(min-width:75em) {
  .drawer-container {
    max-width: 100%
  }
}

@media(max-width:64em) {
  [data-trigger="downloadOutput"] {
    display: none !important
  }
}

@media(min-width:64em) {
  .hidePc {
    display: none !important
  }
}

@media(max-width:64em) {
  .hideSp {
    display: none !important
  }
}